
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fundadores</title>
</head>
<body>
    
    <div> 
       
        <h1>
           FUNDADORES
        </h1>
        <p>  La primera pelota de Voleibol fue creada por la empresa Spalding.
            El voleibol es introducido en República Dominicana en 1925.
            Las personas que lo introdujeron al país fueron los puertorriqueños que trabajaban en los ingenios azucareros,
            pero el máximo precursor fue Enrique Rivas.</p>
    </div>
</body>
</html>
