
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1> EQUIPO DOMINICANO DE VOLEIBOL FEMENINO </h1>
        <P>La Selección femenina de voleibol de la República Dominicana, 
        es la selección nacional que representa a la República Dominicana 
        en torneos internacionales femeninos de voleibol.
         El equipo es regenteado por la Confederación Dominicana de Voleibol.
         El ranking de la FIVB actual es la posición 9.</P>
    </div>
</body>
</html>
